ALARM WAVE "RES\Alarm.wav"
WARNING WAVE "RES\Warning.wav"

RESET_BMP_16x16 BITMAP "RES\RESET_BMP_16x16.bmp"
RESET_BMP_32x32 BITMAP "RES\RESET_BMP_32x32.bmp"
RESET_BMP_64x64 BITMAP "RES\RESET_BMP_64x64.bmp"

